{
  "presets": ["@babel/preset-typescript", "@babel/preset-flow"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "react-css-modules",
      {
        "generateScopedName": "[name]__[local]__[hash:base64:5]",
        "handleMissingStyleName": "warn",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        }
      }
    ]
  ]
}
